
body {
    background: #544a7d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd452, #544a7d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd452, #544a7d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.container {
    width:500px;
    height:500px;
    border:1px solid antiquewhite;
    margin:0 auto;
  transition:0.2s;

}
 .container:hover {
     transform:scale(1.1);
 }
span {
    color:ghostwhite;

}
 h2  {
     color: #934915;
     text-align: center;
 }

.size {


    max-width: 100%;
    max-height: 100%;
}